@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: "inters";
  /* src: url(../public/assets/fonts/inter/Inter-Bold.ttf);
  src: url(../public/assets/fonts/inter/Inter-ExtraBold.ttf);
  src: url(../public/assets/fonts/inter/Inter-Light.ttf); */
  /* src: url(../public/assets/fonts/inter/Inter-SemiBold.ttf);*/
  src: url(../public/assets/fonts/inter/Inter-Medium.ttf);
  /* src: url(../public/assets/fonts/inter/Inter-Regular.ttf); */
}
html,
body {
  @apply font-inters;
  font-family: 'Inter';
}
@tailwind utilities;
